body {
  font-family: 'Montserrat', sans-serif;
  background: var(--fondo);
}
/* Header */

header{
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
.textos>img {margin-top: 5%;}

.nav1{
  background-color: #125B9A;
  height: 80px;
  color:#fff;
}

.nav1>div>div>img{ height:80px;filter: brightness(10000%);}

.nav2{
  background-color: #fff;
  height:100px;
  color:#000;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid #1498a4;
  transition: 0.6s;
}

.logo, .logo img{ height:80px;}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

